@charset "UTF-8";
#contenitore {
	height: 665px;
	width: 1000px;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	color:#666;
	margin:auto	
}
#intestazione {
	height: 90px;
	width: 1000px;
}
#navigazione {
	height: 50px;
	width: 1000px;
}
#pagina {
	height: 490px;
	width: 1000px;
	display:table;
}
#blog {
	height: 490px;
	width: 1000px;
	display:table;
}
#paginacontact {
	display:table-cell;
	vertical-align:middle;
}
#footer {
	height: 25px;
	width: 1000px;
	height:30px
}
#riga160 {
	height: 160px;
	width: 1000px;
}
